@import "../../Imports/mediaqueries.scss";


$primarycolor:#1261A0;

div.page_container
{
	min-height:calc(100vh - 63px);
	width:100vw;
	@include flexmixin();
	justify-content: space-around;
	padding-top:30px;
	transition:all 1s ease-in-out;

	@include SmallLaptop
	{
		padding-top:15px;
		justify-content:center;
	}

	@include SmallIpad
	{
		flex-flow:column;
		align-items: center;		
		min-height:0;
	}


	div.types
	{
		position:fixed;
		left:20vw;

		&.pos_fixed
		{
			top:4vh;
		}

		@include Laptop
		{
			left:15vw;
		}


		@include SmallLaptop
		{
			margin-top:2vh;	
		}

		@include Ipad
		{
			left:12vw;
		}

		@include SmallIpad
		{
			position:relative;
			display:flex;
			left:0;
		}

		p
		{
			font-family:"Quicksand", sans-serif;

			&.active
			{
				transform:translateY(-3px);
				background:rgba(#000, 0.1);
				border-radius:2px;
				padding:3px 0;
			}

			a
			{
				text-decoration:none;
				color:#000;
				padding:10px;
			}
		}
	}

	$poemwidth:450px;
	$poemheight:180px;

	div.poems
	{
		position:relative;
		top:6vh;
		left:23vw;
		width:40vw;

		@include Laptop
		{
			top:3vh;
			left:17vw;
		}

		@include SmallLaptop
		{
			left:0;
		}

		@include Ipad
		{
			left:-3vw;
		}

		@include SmallIpad
		{
			left:0;
			margin-left:0;
			width:$poemwidth;
		}


		$altwidth:350px;
		$smallwidth:300px;

		@include BigPhone
		{
			width:$altwidth;
		}

		@include SmallPhone
		{
			width:$smallwidth;
		}

		p.time
		{
			float:right;
			color:#000;
			font-family:"Quicksand", sans-serif;
			color:rgba(#000, 0.6);
			font-size:0.85em;
		}

		div.poem
		{
			position:relative;
			width:$poemwidth;
			height:$poemheight;
			border:1px solid rgba(#000, 0.06);
			background:#fff;
			margin-bottom:6vh;
			z-index:1;

			@include BigPhone
			{
				width:100%;
				height:340px;
			}			

			div.main_content
			{
				// margin-top:10px;
				@include flexmixin();
				// padding:0 10px;
				width:100%;

				@include BigPhone
				{
					flex-flow:column;
				}

				div.picture
				{
					width:32%;
					height:180px;
					background-position:45% 0;

					@include BigPhone
					{
						width:100%;
						height:170px;
					}

					img
					{
						width:100%;
						height:100%;
						object-fit:cover;
					}
				}

				div.content
				{
					position:relative;
					top:7px;
					width:calc(70% - 20px);
					left:17px;
					@include flexmixin();
					flex-flow:column;

					@include BigPhone
					{
						height:100px;
						top:-3px;
						left:0;
						padding:5px 0 0 10px;
						width:100%;
					}

					i
					{
						border:1px solid #fff;
					}

					span
					{
						margin-bottom:12px;
					}

					span:nth-child(1)
					{
						font-family: 'Oswald', sans-serif;
						font-size:1.2em;
					}

					span:nth-child(2)
					{
						transform:translateY(-1px);
						font-family: 'Quicksand', serif;
						font-size:0.9em;
						@include flexmixin();

						div
						{
							position:relative;
							top:-1px;
							width:25px;
							height:25px;
							border-radius:50%;
							margin-right:8px;
						}

						a
						{
							color:rgba(#000, 0.65);
						}

						p
						{
							position:relative;
							top:-10px;
						}
					}

					span.type
					{
						position:relative;
						top:-30px;
						font-family: 'Quicksand', sans-serif;
						font-size:0.8em;

						a
						{
							color:rgba(#000, 0.6);
						}
					}

					div.ratings
					{
						transform:translateY(-34px);

						i.far
						{
							color:rgba(gold, 0.5);
						}

						i.fas
						{
							@extend i.far;
						}
					}

					span.ratingval
					{
						position:relative;
						top:-30px;
						left:-8px;
						margin-left:10px;
						font-family:'Quicksand', sans-serif;
						font-size:0.8em;
						color:rgba(#000,0.75);
					}

					a
					{
						color:#000;
						text-decoration: none;

						&.read
						{
							position:relative;
							top:-36px;
							text-decoration:none;
							color:#fff;
							padding:5px 10px;
							width:35px;
							background:rgba($primarycolor,0.85);
							border-radius:5px;
							font-family: "Quicksand", sans-serif;
							font-size:0.8em;
						}
					}
				}
			}
		}
	}

	div.sidebar
	{
		@include flexmixin();
		flex-flow:column;
		position:relative;
		left:5vw;
		// padding-left:100px;
		box-sizing:border-box;


		@include SmallLaptop
		{
			display:none;
		}

		div.explore
		{
			margin-left:-3vw;
			width:275px;
			div.message
			{
				background:#fff;
				padding:10px 0;
				text-align:center;
				border:1px solid rgba(#000, 0.04);
				font-family:"Quicksand", sans-serif;
				font-size:0.9em;
				margin-bottom:2px;
			}

			ul
			{				
				background:#fff;
				padding:0;
				width:100%;
				border:1px solid rgba(#000, 0.02);

				li
				{
					list-style-type:none;
					// text-align:center;
					padding:10px 30px;
					box-sizing:border-box;

					li:last-child
					{
						border:none;
					}

					a
					{
						color:$primarycolor;
						text-decoration:none;
						font-family:"Trebuchet MS", sans-serif;
					}
				}
			}
		}

		$follow_width:40px;

		ul.follows
		{
			margin-left:-3vw;
			width:275px;
			padding:0;
			background:#fff;
			padding:15px 0 15px 30px;
			box-sizing:border-box;

			a
			{
				color:rgba(#000,0.82);
			}

			li
			{
				list-style-type:none;
				// padding:5px 0;
				@include flexmixin();

				div:nth-child(1)
				{
					width:$follow_width;
					height:$follow_width;
					border-radius:50%;
					margin:0 10px 0 0;
				}

				div:nth-child(2)
				{					
					p
					{
						transform:translateY(-15px);
	  					font-family: 'PT Sans', sans-serif;
					}

					button
					{
						transform: translateY(-22px);
						outline:none;
						border:1px solid $primarycolor;
						background:rgba($primarycolor,0.7);
						color:#fff;
						border-radius:5px;
						padding:3px 5px;
						font-family: 'PT sans', sans-serif;
						// width:91px;
						cursor:pointer;
					}
				}
			}
		}
	}

}