
@mixin flexmixin()
{
	display: -webkit-box;  
 	display: -ms-flexbox; 
 	display: -moz-box;  
  	display: -webkit-flex; 
	display:flex;
}

@mixin ActionResp()
{
	@media(max-width:447px)
	{
		@content;
	}
}

@mixin ActionResp2()
{
	@media(max-width:367px)
	{
		@content;
	}
}

$pcolor:blue;
$primarycolor:#1261A0;
$actionwidth:400px;
$actionheight:100px;
$imgval:50px;

body
{
	padding-bottom:70px;
}


div.container
{
	min-height:calc(100vh -  63px);
	width:100vw;
	padding-top:4vh;
	@include flexmixin();
	flex-flow:column;
	align-items: center;


	div.heading
	{
		@include flexmixin();
		flex-wrap:wrap;
		background:#fff;
		width:$actionwidth;
		padding:14px 0 8px 0;
		border:1px solid rgba(#000, 0.03);

		@include ActionResp()
		{
			width:350px;
		}

		@include ActionResp2()
		{
			width:310px;
		}

		div
		{
			width:50%;
			text-align:center;
			box-sizing:border-box;

			span
			{
				font-family: 'Aleo', serif;
				padding:0;
				cursor:pointer;
				color:rgba(#000, 0.75);
			}
		}

		p
		{
			position:relative;
			top:9px;
			height:2px;
			background:#3895D3;
			margin:0 0 0 0;

			&.following
			{
				left:percentage(78/500);
				width:79px;

				@include ActionResp()
				{
					left:percentage(70/500);
				}

				@include ActionResp2()
				{
					left:percentage(60/500);
				}
			}

			&.you
			{
				left:percentage(355/500);
				width:36px;

				@include ActionResp()
				{
					left:percentage(352/500);
				}

				@include ActionResp2()
				{
					left:percentage(350/500);
				}
			}
		}
	}

	div.follow_actions
	{
		margin-top:4vh;
		width:$actionwidth;
		display:none;


		@include ActionResp()
		{
			width:350px;
		}

		@include ActionResp2()
		{
			width:310px;
		}

		&.active
		{
			display:block;
		}

		div.action
		{
			position:relative;
			width:100%;
			height:$actionheight;
			border:1px solid rgba(#000, 0.04);
			margin-bottom:27px;
			background:#fff;
			@include flexmixin();
			align-items:center;
			padding:0 0 0 20px;
			box-sizing:border-box;


			@include ActionResp()
			{
				padding-left:10px;
				height:120px;
			}


			div.picture
			{
				width:$imgval;
				height:$imgval;
				margin-right:18px;

				@include ActionResp2()
				{
					width:38px;
					height:38px;
				}

				img
				{
					width:100%;
					height:100%;
					object-fit:cover;
					border-radius:50%;
				}
			}

			button
			{
				outline:none;
				color:#fff;
				border:none;
				border-radius:3px;
				cursor:pointer;
				font-size:0.8em;
				font-family:'Quicksand', sans-serif;

				i
				{
					@include ActionResp2()
					{
						display: none;
					}
				}

				&.follow
				{
					position:relative;
					top:3px;
					left:-7px;
					padding:6px 4px;
					background:rgba($primarycolor,0.6);

					@include ActionResp2()
					{
						padding:4px 6px;
					}
				}

				&.mark
				{
					position:absolute;
					top:-30px;
					left:82%;
					padding:6px 4px;
					background:rgba(orange, 0.68);
					font-size:0.6em;
				}
			}

			p
			{
				position:relative;
				font-family: 'Quicksand', sans-serif;
				font-size:0.85em;
				width:60%;
				line-height:1.5;

				a
				{
					text-decoration: none;
					color:rgba(#000, 0.7);
					padding-bottom:5px;

					&:hover
					{
						text-decoration:underline;
					}
				}

				button
				{
					color:rgba(blue, 0.5);

					&.view
					{
						margin-left:3px;
						color:rgba(#000,0.85);
						padding:1px 4px;
						border:1px solid rgba(#000, 0.4);
						background:none;
						border-radius:3px;
						font-size:0.95em;
					}
				}

				span
				{
					margin-left:5px;
					i
					{
						font-size:0.7em;
						color:rgba(gold,0.5);
					}

					&.time
					{
						margin-left:0;
						position:absolute;
						top:calc(100% + 2px);
						left:2px;
						color:rgba(#000, 0.7);
						font-size:0.8em;
					}
				}
			}

			li
			{
				font-family:'Quicksand', sans-serif;
				color:rgba(#000, 0.7);
				font-size:0.8em;
				cursor:pointer;
			}

			$picwidth:55px;
			$picheight:55px;

			div.action_picture
			{
				position:relative;
				// left:-15px;
				width:$picwidth;
				height:$picheight;

				@include ActionResp2()
				{
					width:41px;
					height:41px;
				}

				img
				{
					width:100%;
					height:100%;
					object-fit:cover;					
					border-radius:2px;
				}
			}
		}


		div:last-child
		{
			margin-bottom:0px;
		}
	}

	div.your_actions
	{
		@extend div.follow_actions;
		display:none;
	}
}